@media (min-width: 320px) and (max-width: 1300px) {
    :root {
        --width: 100%;
    }

    header {
        top: 0;
        padding: 20px 10px;
    }

    header nav ul {
        gap: 10px;
        width: 100%;
        justify-content: space-between;
    }

    header nav ul li a {
        font-size: 14px;
    }

    .banner-div {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .banner-div img {
        width: 160%;
    }

    .banner-div_center {
        flex-direction: column;
        gap: 20px;
        padding: 0 40px;
    }

    .banner-div_left {
        width: 100%;
        order: 2;
    }

    .banner-div_right {
        width: 100%;
        order: 1;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .about-me_right h1 {
        font-size: 32px;
        text-align: center;
        width: 100%;
    }

    .banner-div_left h2 {
        font-size: 20px;
    }

    .banner-div_left h1 {
        font-size: 32px;
        flex-direction: row;
        gap: 10px;
    }

    .about-me {
        display: flex;
        flex-direction: column;
        margin: 0;
    }

    .about-me_left {
        width: 100%;
    }

    .about-me_left img {
        width: 100%;
    }

    .about-me_right_column {
        margin-top: 0px;
        display: flex;
        flex-direction: column;
        gap: 30px;
    }

    .right-bottom h1 {
        text-align: left;
    }

    .about-me_right {
        text-align: center;
        width: 100%;
        gap: 30px;
    }

    .about-me_right h2 {
        margin-top: 0px;
        font-size: 24px;
    }

    .about-me_right_row_card {
        width: 100%;
        height: 200px;
        padding: 20px;
    }

    .about-me_right_row_card h1 {
        width: 20%;
    }

    .about-me_right_row_card p {
        width: 80%;
        text-align: left;
    }

    .trust-me {
        display: flex;
        padding: 20px 40px;
    }

    .trust-me h1 {
        font-size: 32px;
        text-align: center;
        text-transform: uppercase;
    }

    .trust-me_logo {
        width: 100%;
        display: flex;
        align-items: center;
        flex-direction: column;
        gap: 20px;
        margin: 30px 0;
    }

    .trust-me_logo img {
        width: 70%;
    }

    .communication {
        display: flex;
        flex-direction: column;
    }

    .communication_mobile {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .titleBlock {
        font-size: 32px;
        margin-bottom: 30px;
    }

    .audioSlider {
        padding: 0 40px;
        margin-bottom: 30px;
    }

    .audioSlider_block__slide {
        flex-direction: column;
        padding: 20px;
        height: 565px;
    }

    .audioSlider_block__slide___left {
        width: 100%;
        border: none;
        padding: 0;
        gap: 10px;
    }

    .audioSlider_block__slide___left____title,
    .audioSlider_block__slide___left____year{
        font-size: 16px;
    }

    .play-pause-btn {
        width: 32px;
        height: 32px;
    }

    .time-info {
        font-size: 12px;
        text-align: center;
        margin-right: 10px;
    }

    .nameAndLine {
        width: 50%;
    }

    .audioSlider_block__slide___right {
        width: 100%;
    }

    .track-title {
        font-size: 12px;
        width: 100%;
        overflow: hidden;
    }

    .communication_mobile h1 {
        color: white;
        font-size: 60px;
        font-family: 'Montserrat', sans-serif;
    }

    .communication_left{
        width: 100%;
        order: 2;
    }

    .communication_right{
        width: 100%;
        order: 1;
    }

    .communication_left img {
        width: 100%;
    }

    .communication_right_buttons {
        gap: 16px;
        margin-top: 20px;
    }

    .orange-button,
    .white-button{
        width: 100%;
        height: 50px;
        font-size: 14px;
    }

    .orange-button h1 {
        font-size: 24px;
    }

    .white-button h1 {
        font-size: 24px;
    }

    .communication_right h1{
        font-size: 32px;
    }

    hr {
        width: 100%;
    }

    .footer_box{
        flex-direction: column;
        padding: 15px;
    }

    .footer_left{
        width: 100%;
        gap: 15px;
        order: 2;
        margin-bottom: 30px;
    }

    .footer_right{
        width: 100%;
        order: 1;
        margin-top: 30px;
        margin-bottom: 50px;
        padding: 0 25px;
    }

    .footer_right__img{
        width: 50%;
    }

    .footer_right__img img{
        width: 100%;
    }

    .footer_left p{
        font-size: 14px;
        text-align: center;
    }

    .swiper-button-next:after,
    .swiper-button-prev:after{
        font-size: 24px !important;
    }
}

@media (min-width:768px) and (max-width: 1200px) {}