* {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
}

@font-face {
    font-family: 'Sweet Mavka';
    src: url('../font/SweetMavka.otf') format('truetype');
}

:root {
    --sweet: "Sweet Mavka", sans-serif;
    --width: 1500px;
}

body {
    background-color: black;
    color: #fff;
}

header {
    display: flex;
    position: absolute;
    top: 115px;
    width: 100%;
    justify-content: center;
    align-items: center;
}

header nav {
    width: var(--width);
}

header nav ul {
    display: flex;
    gap: 132px;
}

header nav ul li {
    list-style: none;
}

header nav ul li a {
    font-size: 20px;
    text-decoration: none;
    color: white;
    transition: all 0.3s ease-in-out;
}

header nav ul li a:hover {
    color: #C23909;
}

.banner-div {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    overflow: hidden;
}

.banner-div_center {
    display: flex;
    align-items: center;
    gap: 78px;
    width: var(--width);
}

.banner-div_mobile {
    display: none;
}

.banner-div_left {
    color: white;
    width: 50%;
}

.banner-div_left h2 {
    color: #C23909;
    font-size: 48px;
    font-family: var(--sweet);
}

.banner-div_left h1 {
    display: flex;
    flex-direction: column;
    font-family: 'Montserrat', sans-serif;
    font-size: 146px;
}

.banner-div_right {
    width: 50%;
}

.banner-div_right img {
    width: 130%;
}

.about-me {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 150px;
}

.about-me_right {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.about-me_right h1 {
    font-family: 'Montserrat', sans-serif;
    color: white;
    font-size: 64px;
    text-align: end;
}

.about-me_right h2 {
    font-family: var(--sweet);
    color: #C23909;
    text-align: center;
    font-size: 40px;
}

.about-me_right_column {
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
}

.about-me_right_row {
    display: flex;
    flex-direction: column;
    gap: 62px;
}

.about-me_right_row_card {
    display: flex;
    align-items: center;
    gap: 20px;
    justify-content: center;
    border: 1px solid white;
    border-radius: 20px;
    width: 46%;
    height: 240px;
    padding: 40px;
}


.about-me_right_row_card p {
    display: flex;
    flex-direction: column;
    font-family: 'Montserrat', sans-serif;
    color: white;
    font-size: 25px;
}

.about-me_left {
    width: 50%;
}

.right-bottom {
    display: flex;
    align-items: baseline;
    flex-direction: column;
}

.trust-me {
    padding-top: 201px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.trust-me h1 {
    color: white;
    font-size: 64px;
    font-family: 'Montserrat', sans-serif;
}

.trust-me_logo {
    margin-top: 188px;
    display: flex;
    gap: 214px;
    margin-bottom: 175px;
}

.communication {
    display: flex;
    justify-content: center;
}

.communicationGap {
    gap: 230px;
}

.communication_left {
    width: 50%;
}

.communication_right {
    width: 50%;
}

.communication_right h1 {
    text-align: center;
    font-size: 64px;
}

.communication_right h1 {
    color: white;
    font-family: 'Montserrat', sans-serif;
}

.orange-button {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #C23909;
    color: #C23909;
    font-family: 'Montserrat', sans-serif;
    border-radius: 50px;
    padding: 10px;
    height: 100px;
    cursor: pointer;
    font-size: 20px;
    transition: all 0.3s ease-in-out;
    font-weight: 600;
}

.orange-button:hover{
    background-color: #C23909;
    color: #fff;
}

.orange-button h1 {
    color: #C23909;
    font-size: 20px;
}

.white-button {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid white;
    color: white;
    font-family: 'Montserrat', sans-serif;
    border-radius: 50px;
    padding: 10px;
    height: 100px;
    cursor: pointer;
    font-size: 20px;
    transition: all 0.3s ease-in-out;
    font-weight: 600;
}

.white-button:hover{
    background-color: #fff;
    color: #000;
}


.white-button h1 {
    font-size: 20px;
}

.communication_right_buttons {
    margin-top: 120px;
    display: flex;
    flex-direction: column;
    gap: 66px;
}

footer {
    display: flex;
    flex-direction: column;
    justify-content: 100%;
    align-items: center;
    width: 100%;
    margin-top: 100px;
}

.footer_left {
    display: flex;
    flex-direction: column;
    width: 50%;
    gap: 25px;
}

.footer_left p {
    font-family: 'Montserrat', sans-serif;
    color: white;
    font-size: 20px;
}

.footer_right {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 40px;
}

.footer_box {
    display: flex;
    width: var(--width);
    padding: 50px 0;
}

hr {
    color: white;
    background-color: white;
    width: var(--width);
}


.custom-audio-player {
    text-align: center;
    background-color: #f0f0f0;
    padding: 20px;
    border-radius: 10px;
}

/* Стили для элементов плеера */

.audioSlider {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 120px;
    position: relative;
}

.audioSlider_block__slide {
    width: var(--width);
    height: 585px;
    display: flex;
    border-radius: 20px;
    border: 1px solid #FFF;
    padding: 30px 10px 30px 30px;
    gap: 25px;
}

.audioSlider_block__slide___left {
    display: flex;
    flex-direction: column;
    gap: 30px;
    border-right: 1px solid #fff;
    padding-right: 25px;
    width: 30%;
}

.audioSlider_block__slide___right {
    width: 70%;
    display: flex;
    flex-direction: column;
    gap: 28px;
    overflow-y: scroll;
}

.audioSlider_block__slide___right::-webkit-scrollbar {
    width: 15px;
}

.audioSlider_block__slide___right::-webkit-scrollbar-thumb {
    background-color: #fff;
    border-radius: 50px;
}

.audioSlider_block__slide___left____img {
    width: 100%;
    height: 400px;
    overflow: hidden;
}

.audioSlider_block__slide___left____img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.audioSlider_block__slide___left____title {
    color: #FFF;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-align: left;
}

.audioSlider_block__slide___left____year {
    color: #C23909;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-align: left;
}

.track {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.play-pause-btn {
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.play-pause-btn img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.progress-container {
    width: 100%;
    height: 10px;
    background-color: #ccc;
    margin-top: 10px;
    overflow: hidden;
}

.progress-bar {
    height: 100%;
    background-color: #3498db;
    width: 0;
    transition: all 0.3s ease-in-out;
}

.nameAndLine {
    width: 70%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: baseline;
}

.time-info {
    width: 15%;
    text-align: right;
    margin-right: 20px;
}

.progress-slider {
    width: 100%;
}

.progress-slider {
    -webkit-appearance: none;
    width: 100%;
    height: 2px;
    background: #fff;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.progress-slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: #C23909;
    cursor: pointer;
}

.titleBlock {
    color: #FFF;
    font-size: 64px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    width: 100%;
    text-align: center;
    margin-bottom: 120px;
}


/* Стили слайдера */
.swiper-container {
    width: var(--width);
    overflow: hidden;
}

/* Стили слайдов */
.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #000;
    /* Дополнительные стили */
}

/* Стили кнопок навигации */
.swiper-button-next {
    color: #333;
    position: absolute;
    top: 0;
    left: 0;
}

.swiper-button-prev {
    color: #333;
    position: absolute;
    top: 0;
    right: 0;
}

.swiper-button-next:after, .swiper-rtl .swiper-button-prev:after,
.swiper-button-prev:after, .swiper-rtl .swiper-button-next:after{
    color: #fff;
}