* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

@font-face {
    font-family: 'Sweet Mavka';
    src: url('../font/SweetMavka.otf') format('truetype');
}

:root {
    --sweet: "Sweet Mavka", sans-serif;
    --accent-color: #C23909;
}

body {
    background-color: black;
    color: white;
}

.about-me,
.trust,
.communication {
    padding: 0 clamp(5vw, 8vw, 12vw);
}

.trust,
.communication {
    margin-top: 200px;
}


.header {
    padding-left: 12vw;
}

.header__menu-list {
    padding-top: 50px;
    display: flex;
    gap: 100px;
}

.header__menu-link {
    font-family: 'Montserrat', sans-serif;
    color: white;
    font-size: 1.25rem;
    font-size: clamp(0.875rem, 1rem, 1.25rem);
    text-transform: uppercase;
    transition: all 0.3s ease-in-out;
}

.header__menu-link:hover {
    color: var(--accent-color);
}

.hero {
    height: 100vh;
    width: 100%;
    padding-left: 12vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.hero__header {
    display: flex;
    flex-direction: column;
}

.hero__title {
    display: flex;
    flex-direction: column;
    font-size: clamp(1.5rem, 6vw, 7.2rem);
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
}

.hero__sub-title {
    font-family: var(--sweet), serif;
    color: var(--accent-color);
    font-size: clamp(1rem, 4vw, 2.5rem);
}

.about-me {
    display: flex;
    gap: 100px;
}

.about-me__img,
.about-me__inner {
    width: 50%;
}

.about-me__img {
    object-fit: cover;
}

.about-me__inner {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.about-me__title {
    text-align: end;
    font-family: 'Montserrat', sans-serif;
    /*font-size: 4rem;*/
    font-size: clamp(1.6rem, 2vw + 1rem, 4rem);
    text-transform: uppercase;
}

.about-me__list {
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(auto-fill, minmax(210px, 1fr));
}

.about-me__item-title {
    font-family: 'Montserrat', sans-serif;
    font-size: clamp(1.6rem, 2vw + 1rem, 4rem);
    font-weight: bold;
}

.about-me__item-text {
    font-family: 'Montserrat', sans-serif;
    /*font-size: 1.5rem;*/
    font-size: clamp(1rem, 1vw + 0.5rem, 1.5rem);

}

.about-me__item {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 10px;
    border: 1px solid white;
    border-radius: 20px;
    padding: 40px;
    justify-content: center;
}

.about-me__sub-title {
    color: var(--accent-color);
    font-family: var(--sweet), serif;
    /*font-size: 2.5rem;*/
    font-size: clamp(1.5rem, 2vw + 1rem, 2.5rem);
    text-align: center;
}

.trust {
    display: flex;
    gap: 50px;
    flex-direction: column;
    align-items: center;
}

.trust__img {
    width: 50%;
}

.trust__title {
    font-family: 'Montserrat', sans-serif;
    /*font-size: 4rem;*/
    font-size: clamp(1.6rem, 2vw + 1rem, 4rem);
    text-align: center;
}

.trust__inner {
    display: flex;
    gap: clamp(3.125rem, 10vw, 12.5rem);
    justify-content: center;
}

.communication {
    display: flex;
    gap: 100px;
}

.communication__img,
.communication__inner {
    width: 50%;
}

.communication__img {
    object-fit: cover;
}

.communication__title {
    font-family: 'Montserrat', sans-serif;
    font-size: clamp(1.6rem, 2vw + 1rem, 4rem);
    text-align: center;
}

.communication__inner {
    display: flex;
    gap: 100px;
    flex-direction: column;
    justify-content: center;
}

.communication__list {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 66px;
}

.communication__item {
    width: 100%;
}

.communication__button {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: clamp(0.875rem, 2vw, 1.25rem);
    font-weight: bold;
    text-transform: uppercase;
    transition: all 0.3s ease-in-out;
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 30px;
    border-radius: 50px;
}

.accent-btn {
    color: var(--accent-color);
    border: 1px solid var(--accent-color);
}

.accent-btn:hover {
    background-color: var(--accent-color);
    color: white;
}

.white-btn {
    color: white;
    border: 1px solid white;
}

.white-btn:hover {
    background-color: white;
    color: black;
}

.footer {
    margin-top: 120px;
    border-top: 1px solid white;
    padding: 50px 12vw;
}

.footer p {
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.25rem;
}